fastapi==0.115.12
uvicorn==0.34.2
starlette==0.46.2
pydantic==2.11.4
typing-extensions>=4.8.0
click>=7.0
h11>=0.8
annotated-types>=0.6.0
pydantic-core==2.33.2
typing-inspection>=0.4.0
anyio<5,>=3.6.2
idna>=2.8
sniffio>=1.1
